# Created by .ignore support plugin (hsz.mobi)
.idea/DogSay.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/client/node_modules/
/client/ios/build/
server/
/client/android/build/
/client/android/app/build/